/*
	Atmosphere by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Main */

	#main {
		padding: 10em 0 4em;

		@include breakpoint(small) {
			padding: 5em 0 2em;
		}
	}